* {
    font-family: 'Montserrat', 'sans-serif';
}

.playlist-add-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.file-upload {
    width: 100%;
    height: 100px;
    border: 2px dashed #4CAF50;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.file-label {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-label {
    text-align: center;
    margin-bottom: 5px;
}

.text-input, .textarea-input {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    border: none;
    width: 100%;
    margin: 5px;
}

.textarea-input {
    resize: none; 
    min-height: 100px;
    width: 100%;
}

.playlist-add-button {
    background-color: #5E6E82;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-size: 15px;

}

.playlist-return-button {
    background-color: #fff;
    color: #5E6E82;
    padding: 10px;
    border-radius: 5px;
    border: solid #5E6E82;
    width: 100%;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-size: 15px;
}

.playlist-return-button:hover  {
    background-color: #5E6E82;
    color: #fff;
}

.playlist-add-button:hover {
    background-color: #445366;
}
